@import './variables.scss';
@import './mixins.scss';

body {
  @include linear-gradient(90deg, $purple-dark, $purple-light, $purple-dark);
  text-align: center;
}

.button {
  @include linear-gradient($orange-dark, $orange-light);
  @include border-radius;
  @include box-shadow;
  padding: 10px 65px;
  border: none;
  font-family: $headline;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: $text-shadow;
  cursor: pointer;
  margin: 15px 0;
  display: inline-block;

  &.small {
    font-size: 35px;
  }
}

.logo {
  @include border-radius(6px);
  @include box-shadow;
  border: 6px solid white;
  margin: 50px auto 75px;
  width: 200px;
  padding: 15px;
  transform: rotate(4deg);

  span {
    display: block;
    font-family: $headline;
    text-transform: uppercase;
    color: white;
    font-size: 65px;
    line-height: 0.8;
    text-shadow: $text-shadow;
  }
}

.section-headline {
  font-family: $headline;
  color: white;
  font-size: 50px;
  text-shadow: $text-shadow;
  position: relative;
  margin: 50px 0;

  &:after {
    @include box-shadow;
    content: '';
    height: 6px;
    width: 150px;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
}
