@import './variables.scss';
@import './mixins.scss';

input,
textarea {
  @include border-radius;
  @include box-shadow;
  font-family: $paragraph;
  border: none;
  font-size: 18px;
  margin-bottom: 25px;
  width: 550px;
}

input {
  padding: 25px 35px;
}

textarea {
  height: 200px;
  padding: 35px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-error {
  font-family: $paragraph;
  color: white;
  font-size: 18px;
  margin-bottom: 25px;
}

.form-container {
  margin-bottom: 100px;
}
