@import './variables.scss';
@import './mixins.scss';

.report-list {
  margin-bottom: 100px;
  padding: 25px;
}

.report {
  @include box-shadow;
  background-color: white;
  padding: 50px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    list-style-type: none;
  }

  &:not(:last-of-type) {
    margin-bottom: 50px;
  }
}

.license-container {
  min-width: 325px;
}

.license {
  @include border-radius(5px);
  @include box-shadow(2px, 2px, 5px, rgba(0, 0, 0, 0.5));
  display: inline-block;
  border: 6px solid black;
  padding: 25px;
  transform: rotate(4deg);

  span {
    font-family: $headline;
    font-size: 65px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.description {
  font-family: $paragraph;
  font-size: 24px;
  padding-left: 25px;
  text-align: left;
}
