/*
Colors
*/

$purple-dark: #3C195B;
$purple-light: #603590;

$orange-dark: #C64049;
$orange-light: #CE6631;

/*
Text Formatting
*/

$headline: 'Passion One', cursive;
$paragraph: 'Robot', sans-serif;

$text-shadow: 2px 2px 6px #230041;